@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap");

$white-color: #fff;
$shallow-white-color: #888;
$gray-color: #999;
$shallow-black-color: #333;

.singlePage {
  font-family: "Raleway", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  text-align: center;
  background: url(../assets/bg.png);
  color: $white-color;
}
.singlePageHeading {
  margin: 30px 0 45px;
  padding: 15px;
  font-size: 30px;
  position: relative;
  // h2要素はデフォルトでdisplay: block
  // display: inline-blockにすることでwidthが文字が出ているところだけになる
  display: inline-block;
  &::before,
  &::after {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    border-bottom: 1px solid $gray-color;
  }
  &::after {
    bottom: 5px;
  }
}
.singlePageButton {
  // リンク要素のデフォルトはdisplay: inline
  display: inline-block;
  color: $white-color;
  text-decoration: none;
  padding: 20px;
  background-color: #afa58d;
  border-radius: 4px;
  margin: 10px;
  &:hover {
    opacity: 0.9;
  }
  &.-showy {
    background-color: #f1b400;
  }
  &.-work {
    margin-top: 20px;
    padding: 3px 40px;
    border: 1px solid $white-color;
    background-color: rgb(255, 255, 255, 0.15);
  }
}

.singlePageHeader {
  background-size: cover;
  padding: 170px 30px 80px;
  color: $white-color;
}
.singlePageHeaderTitleSub {
  margin: 0 0 30px;
  &::before,
  &::after {
    content: "";
    width: 140px;
    height: 2px;
    margin: 0 30px;
    background: $white-color;
    display: inline-block;
    // インラインおよびテーブル要素のみ適用可
    vertical-align: middle;
  }
}
.singlePageHeaderTitle {
  margin: 50px 0 40px;
  font-size: 60px;
}
.singlePageHeaderDescription {
  margin: 0 0 50px;
  color: $shallow-white-color;
}

.singlePageAbout {
  padding: 80px 30px;
  color: #333;
  background: $white-color;
}

.singlePageAboutTexts {
  margin: 30px 0;
}
.singlePageAboutText {
  line-height: 1.5;
}

.singlePageWorks {
  color: $white-color;
  background-color: #383634;
  padding: 80px 0;
}

.singlePageWorksWrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 60px;
  line-height: 1.5;
}

.singlePageWorkBox {
  position: relative;
  &::after {
    position: absolute;
    display: block;
    content: "";
    top: 50%;
    left: 0;
    width: 100%;
    height: 50%;
    background-size: 100% 100%;
    opacity: 0.2;
    transform: scaleY(-1);
    background: url(../assets/tree.jpg) no-repeat;
  }
  &:nth-child(odd) {
    &::after {
      top: 0;
    }
    .singlePageWorkBoxImage {
      margin: 60% 0 0;
    }
    .singlePageWorkBoxText {
      top: 0;
    }
  }
}
.singlePageWorkBoxText {
  position: absolute;
  margin: 0 0 10px;
  width: 100%;
  font-size: 10px;
  line-height: 2;
  z-index: 1;
  .singlePageButton {
    margin-top: 8px;
  }
}

.singlePageSkills {
  background: $white-color;
  color: $shallow-black-color;
}

.singlePageSkillsWrapper {
  display: flex;
  justify-content: center;
}
.singlePageSkillBox {
  svg {
    margin-bottom: 30px;
    width: 100px;
    height: 100px;
    border: 4px solid;
    border-radius: 50%;
    padding: 10px;
    color: #f1b400;
  }
}
.singlePageSkillBoxTitle {
}
.singlePageSkillBoxText {
  margin-bottom: 20px;
  line-height: 1.5;
  font-size: 12px;
}

.singlePageFooter {
  padding: 12px 0;
  font-size: 15px;
}
