/**
 * variables　
 */
$breakpoint-tablet: 768px;
$breakpoint-web: 1040px;
$sky-color: #73cbd6;
$yellow-color: #ffff7c;
$black-color: #000;
$white-color: #fff;
$gray-color: #efefef;
$deep-gray-color: #d8d8d8;
$upper-gray-color: #747474;

html *,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-size: 14px;
}
body {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400; /* Noto Sans JPのレギュラーウェイトを指定 */
}
/* おもな太字タグのフォントウェイト設定 */
h1,
h2,
h3,
h4,
h5,
h6,
th,
strong {
  font-weight: 700;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}
@media (min-width: $breakpoint-tablet) {
  html {
    font-size: 16px;
  }
}

/**
 * *******************　
 *  ポストページ　
 * *******************　
 */

/**
 * ヘッダー　
 */
.page-header {
  // 画面いっぱいに適用するスタイル集
  background: url(../assets/header-topline.svg);
  border-bottom: 1px solid $deep-gray-color;
}
.header-container-sitetitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-container-logo {
  margin: 0;
  font-size: 0;
  line-height: 0;
  padding-left: 15px;
}
.header-container-navbtn {
  display: block;
  background-image: url(../assets/nav-mobile-open.svg);
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-position: center center;

  &.-close {
    background-image: url(../assets/nav-mobile-close.svg);
  }
}
.header-container-nav {
  // デフォルト値を解除 start
  margin: 0;
  padding: 0;
  list-style: none;
  // デフォルト値を解除 end
  display: flex;
  flex-direction: column;

  &.-collapse {
    display: none;
  }

  li a {
    display: block;
    padding: 20px 30px;
    border-top: 1px solid $deep-gray-color;
    background: $gray-color;
    color: $black-color;
    text-decoration: none;
  }
}

/**
 * パンくずリスト
 */
.breadcrumb {
  display: none;
}

/**
 * メインコンテナ
 */
.post .main-container {
  // コンテナ内に収まるスタイル集
  padding: 80px 4%;
  background: url(../assets/post-bg.svg) repeat-x;
  background-position: 0 10px;
}

/**
 * ポストヘッダー
 */
.post-header {
  margin-bottom: 60px;

  h1 {
    margin-bottom: 20px;
    font-size: 1.875rem;
    line-height: 1.5;
  }
}
.post-header-tag {
  line-height: 2;
  margin-bottom: 5px;
  font-size: 0.75rem;

  span {
    margin: 0 3px 0 0;
    padding: 2px 10px;
    background: $sky-color;
    border-radius: 100px;

    a {
      color: $white-color;
      text-decoration: none;
    }
  }
}
.post-header-info {
  font-size: 0.75rem;
  text-align: right;
  margin-bottom: 3px;
  padding-bottom: 15px;
  background: url(../assets/post-line.svg) bottom repeat-x;

  span {
    margin: 0 10px 0 0;
  }
  svg {
    margin-right: 5px;
    color: $sky-color;
  }
}
.post-header-photo-caption {
  margin: 30px 0;
  figcaption {
    margin-top: 5px;
    font-size: 0.75rem;
    color: $upper-gray-color;
    text-align: center;
  }
}
/**
 * ポストコンテンツ
 */
.post-contents {
  margin-bottom: 60px;

  :first-child {
    margin-top: 0;
  }

  h2 {
    margin: 60px 0 60px 0;
    padding: 1rem 0;
    border-top: 1px solid $black-color;
    border-bottom: 1px solid $black-color;
    font-size: 1.25rem;
  }

  p {
    margin: 30px 0;
    line-height: 1.9;
    text-align: justify;
  }

  mark {
    // スタート地点から50%の位置で#ffff7cのグラデーションが始まるようにする
    background: linear-gradient(transparent 50%, $yellow-color 50%);
  }
}
.post-contents-list {
  margin: 30px 0;
  li {
    margin-bottom: 1rem;
    line-height: 1.5;
  }
}
.post-contents-info-box {
  margin: 30px 0;
  padding: 2rem;
  border: 4px solid #b8e5ea;
}
.post-contents-float-box {
  display: flow-root;
  margin: 30px 0;
}
.post-contents-float-right {
  float: right;
  margin: 0 0 1rem 1rem;
  width: 40%;
}
.post-contents-chat {
  margin: 30px 0;
}
.post-contents-chat-talk {
  padding: 1.5rem;
  border-radius: 20px;
}
.post-contents-chat-1st,
.post-contents-chat-2st {
  display: flex;
  margin: 15px 0;
}
.post-contents-chat-face {
  img {
    border-radius: 50%;
  }
}
.post-contents-chat-talk {
  flex-grow: 1;
}
.post-contents-chat-1st {
  .post-contents-chat-face {
    margin: 0 10px 0 0;
    flex-basis: 70px;
  }
  .post-contents-chat-talk {
    background: #b8e5ea;
  }
}
.post-contents-chat-2st {
  flex-direction: row-reverse;
  .post-contents-chat-face {
    margin: 0 0 0 10px;
    flex-basis: 70px;
  }
  .post-contents-chat-talk {
    background: $yellow-color;
  }
}
/**
 * ポストフッター
 */
.post-footer {
  margin-bottom: 60px;
  h2 {
    display: inline-block;
    font-family: "Croissant One", cursive;
    margin: 0;
    padding: 10px 30px;
    border-radius: 10px 10px 0 0;
    font-size: 1.25rem;
    background: $black-color;
    color: $white-color;
  }
}
.post-footer-profile {
  display: flex;
  padding: 1rem;
  border: 1px solid $black-color;
}
.post-footer-profile-photo {
  flex: 0 0 100px;
  margin-right: 1rem;
  img {
    border-radius: 50%;
  }
}
.post-footer-profile-text {
  p {
    margin: 0;
    line-height: 1.9;
  }
}

/**
 * 下部コンテナ
 */
.page-bottom {
  // 画面いっぱいに適用するスタイル集
  background: url(../assets/bottom-bg.svg);
}
.bottom-container {
  padding: 60px 4% 0;
}
.bottom-container-banner {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  div {
    margin-bottom: 20px;
  }
  a:hover {
    opacity: 0.8;
  }
}
.followUs {
  margin: 0 0 15px 0;
  font-family: "Croissant One", cursive;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
}
.sns {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  div {
    margin: 0 10px;
    a {
      display: block;
      width: 70px;
      height: 70px;
      font-size: 30px;
      background: $sky-color;
      text-align: center;
      color: #fff;
      line-height: 70px;
      border-radius: 50%;
      &:hover {
        opacity: 0.8;
      }
    }
  }
}
.goTop {
  text-align: center;
  a {
    padding: 1rem 4rem;
    background: #000000;
    border-radius: 20px 20px 0 0;
    color: $white-color;
    opacity: 0.6;
    font-size: 1.25rem;
    &:hover {
      opacity: 0.8;
    }
  }
}
/**
 * フッター
 */
.page-footer {
  // 画面いっぱいに適用するスタイル集
  background: $black-color;
}
.footer-container {
  padding: 60px 4%;
}
.footer-container-logo {
  text-align: center;
  margin-bottom: 30px;
  img {
    width: 160px;
  }
}
.footer-pages-nav {
  display: flex;
  flex-direction: column;
  // align-itemsは交差軸の制御を行う
  // flex-directionがrowのときは列、columnのときは行の制御
  // justify-contentは逆に主軸の制御
  align-items: center;
  margin: 0 0 30px 0;
  padding: 0;
  list-style: none;
  li {
    margin: 0 0 2rem 0;
    font-size: 0.85rem;
    a {
      color: $deep-gray-color;
      text-decoration: none;
      &:hover {
        color: $white-color;
        text-decoration: underline;
      }
    }
  }
  &.-about {
    flex-direction: row;
    justify-content: center;
    margin: 0 0 20px 0;
    li {
      margin: 0 0.75rem 0 0.75rem;
    }
  }
}
.copyright {
  text-align: center;
  font-size: 0.75rem;
  color: $deep-gray-color;
}

/**
 * *******************　
 *  ホームページ　
 * *******************　
 */

.home {
  .page-main {
    background-image: url(../assets/home-bg.svg);
  }
  .main-container {
    padding: 60px 4%;
    h2 {
      display: grid;
      align-items: center;
      justify-content: center;
      margin: 0 auto 30px auto;
      width: 130px;
      height: 130px;
      background: url(../assets/home-titleshape.svg) no-repeat;
      background-size: 130px 130px;
      color: $white-color;
      font-family: "Croissant One", cursive;
      font-weight: 400;
      font-size: 20px;
    }
  }
}
.home-latest {
  margin: 0 0 60px 0;
  display: grid;
  // 1列の長さを定義
  grid-template-columns: 1fr 1fr;
  // 1行の長さを定義、最低100px
  grid-auto-rows: minmax(100px, auto);
  column-gap: 10px;
  row-gap: 30px;
}
.home-latest-item {
  border: 1px solid $deep-gray-color;
  background: $white-color;
}
.home-latest-image {
  img {
    margin: 0 0 10px 0;
    &:hover {
      opacity: 0.5;
    }
  }
}
.home-latest-text {
  margin-bottom: 10px;
  padding: 0 10px;
  h3 {
    margin: 0 0 10px 0;
    font-size: 1rem;
    line-height: 1.5;
    a {
      color: $black-color;
      text-decoration: none;
      &:hover {
        opacity: 0.5;
      }
    }
  }
}
.home-tag {
  margin-bottom: 1rem;
  span {
    margin-right: 3px;
    padding: 2px 10px;
    border: 1px solid $sky-color;
    border-radius: 100px;
    font-size: 0.75rem;
    a {
      color: $sky-color;
      text-decoration: none;
    }
  }
}
.home-info {
  font-size: 0.75rem;
  span {
    svg {
      padding-right: 5px;
      color: $sky-color;
    }
  }
}
.home-popular {
  margin: 0 0 60px 0;
  border-top: 1px solid $deep-gray-color;
  a {
    color: $black-color;
    text-decoration: none;
  }
}
.home-popular-item {
  display: flex;
  align-items: center;
  padding: 5px 0;
  border-bottom: 1px solid $deep-gray-color;
}
.home-popular-photo {
  flex: 0 0 30%;
  margin-right: 15px;
}
.home-popular-text h3 {
  margin: 0 0 10px 0;
  font-size: 1rem;
  line-height: 1.5;
}
.home-popular-text p {
  display: none;
}

.hero-container {
  position: relative;
}
.hero-container-logo {
  width: 260px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-130px, -53px);
}
.home-lead {
  margin: 0 auto 60px auto;
  text-align: center;
  max-width: 600px;
  p {
    margin: 0;
    font-size: 1.25rem;
    line-height: 2;
  }
}
.page-news {
  background: $gray-color;
}
.news-container {
  padding: 60px 4%;
  h2 {
    margin: 0 0 30px 0;
    font-family: "Croissant One", cursive;
    font-weight: 400;
    font-size: 1.85rem;
  }
}
.home-news {
  padding: 20px;
  background: $white-color;
  border-radius: 20px;
  dl {
    display: flex;
    margin: 0;
    padding: 20px 0;
    border-top: 1px solid $deep-gray-color;
    &:last-child {
      border-bottom: 1px solid $deep-gray-color;
    }
  }
  dt {
    font-size: 0.85rem;
    line-height: 1.5;
    margin: 0 20px 0 0;
  }
  dd {
    margin: 0;
    font-size: 1rem;
    line-height: 1.5;
    a {
      color: $sky-color;
      text-decoration: none;
      &:hover {
        opacity: 0.5;
      }
    }
  }
}
/**
 * Webブラウザ用
 */
@media (min-width: $breakpoint-tablet) {
  /**
   * *******************　
   *  ポストページ　
   * *******************　
   */

  /**
   * ヘッダー
   */
  .header-container {
    // Web版では何もスタイルを適用させない
    padding: 0 20px;
    margin: 0 auto;
    max-width: $breakpoint-web;
  }
  .header-container-sitetitle {
    display: block;
    padding: 30px 0 0 0;
  }
  .header-container-navbtn {
    // モバイル用のボタン
    display: none;
  }
  .header-container-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    li a {
      padding: 6px 20px;
      border-top: none;
      background: none;
      &:hover {
        border-bottom: 4px solid $sky-color;
      }
    }
  }
  /**
   * パンくずリスト
   */
  .breadcrumb {
    // display:noneの解除
    display: block;
    // 画面いっぱいに適用するスタイル集
    background: $gray-color;
  }
  .bc-container {
    padding: 12px 20px;
    margin: 0 auto;
    max-width: $breakpoint-web;
  }
  .bc-container-nav {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      font-size: 0.75rem;
      color: $upper-gray-color;

      a {
        color: $upper-gray-color;
        &:hover {
          opacity: 0.8;
        }
      }
      svg {
        position: relative;
        top: 1px;
        margin: 0 3px;
      }
    }
  }
  /**
   * メインコンテナ
   */
  .post .main-container {
    padding: 80px 20px;
    margin: 0 auto;
    max-width: $breakpoint-web;
  }
  /**
 * ポストコンテンツ
 */
  .post-contents {
    max-width: 600px;
    margin: 0 auto 60px auto;
  }
  /**
 * ポストフッター
 */
  .post-footer {
    max-width: 600px;
    margin: 0 auto 60px auto;
  }
  /**
   * 下部コンテナ
   */
  .bottom-container {
    padding: 60px 20px;
    margin: 0 auto;
    max-width: $breakpoint-web;
  }
  .bottom-container-banner {
    flex-direction: row;
    div {
      margin: 0 10px;
    }
  }
  /**
   * フッター
   */
  .footer-container {
    padding: 60px 20px;
    margin: 0 auto;
    max-width: $breakpoint-web;
  }
  .footer-pages-nav {
    flex-direction: row;
    justify-content: center;
    li {
      margin: 0 1rem;
    }
  }

  /**
   * *******************　
   *  ホームページ　
   * *******************　
   */

  .home {
    .main-container {
      max-width: 1040px;
      margin: 0 auto;
      padding: 60px 20px;
    }
  }
  .hero-container-logo {
    width: 400px;
    transform: translate(-200px, -82px);
  }
  .home-latest {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
  }
  .home-latest-item {
    border: none;
    background: none;
  }
  .home-latest-text {
    padding: 0;
  }
  .home-popular-text {
    h3 {
      font-size: 1.25rem;
    }
    p {
      display: block;
      font-size: 0.85rem;
      line-height: 1.5;
    }
  }
  .news-container {
    max-width: 740px;
    margin: 0 auto;
    padding: 60px 20px;
  }
}
